.alex{
    width: 60px;
    height: 40px;
    margin-top: 5px;
}

.glyphicon-plus{
    color:blue;
}
.bloger{
    background:white;
}
.span-panel{
    font-weight:bold;
}
.li-item{
    color:black;
}
.save{
    margin-right: 29px;
}